.pokemon-cell {
  width: 130px;
  height: 130px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.4s ease-in;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.16);
  }

  &__name {
    margin: 5px;
    text-align: center;
    font-size: 15px;
  }
}
